<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <context id="context1">
    <plugin type="io.starter.ignite.generator.MyBatisIgnitePluginAdapter" />
    <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
    <!-- TODO <plugin type="io.starter.ignite.generator.MyBatisIgnitePluginAdapter"> 
			<property name="annotationClass" value="io.starter.ignite.security.securefield.SecureField" 
			/> <property name="annotationString" value="@SecureField" /> </plugin> -->
    <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="${dbUrl}/${dbName}?autoReconnect=true" userId="${dbUser}" password="${dbPassword}" />
    <javaTypeResolver type="io.starter.ignite.generator.MyBatisOffsetDateTimeTypeResolver">
      <property name="useJSR310Types" value="true" />
    </javaTypeResolver>
    <!-- Model Class -->
    <javaModelGenerator targetPackage="${MODEL_DAO_PACKAGE}" targetProject="${myBatisMain}main/java">
      <property name="useActualColumnNames" value="true" />
      <property name="enableSubPackages" value="false" />
      <property name="trimStrings" value="true" />
      <property name="rootClass" value="io.starter.ignite.model.DataModelBase" />
      <property name="type" value="io.starter.ignite.generator.MyBatisIgnitePluginAdapter" />
      <property name="addRemarkComments" value="true" />
    </javaModelGenerator>
    <sqlMapGenerator targetPackage="${MODEL_DAO_PACKAGE}" targetProject="${myBatisMain}main/resources" />
    <javaClientGenerator type="io.starter.ignite.generator.MyBatisIgniteJavaMapperGenerator" targetPackage="${MODEL_DAO_PACKAGE}" targetProject="${myBatisMain}main/java">
      <property name="useActualColumnNames" value="true" />
    </javaClientGenerator>
    <table schema="${artifactId}" tableName="PLACEHOLDER_NODE" modelType="hierarchical">
      <generatedKey column="ID" sqlStatement="MYSQL" identity="true" />
    </table>
    <table schema="happypath" tableName="happypath$_csat">
      <generatedKey column="id" sqlStatement="JDBC" />
    </table>
  </context>
</generatorConfiguration>

